<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
  <display-name>Wave Censor Bot</display-name>
  <servlet>
    <servlet-name>cb</servlet-name>
    <servlet-class>censorbot.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cb</servlet-name>
    <url-pattern>/_wave/robot/jsonrpc</url-pattern>
  </servlet-mapping>
</web-app>